$default-color: #52bab3;

// 默认样式 start
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { 
    margin:0;
    padding:0;
}
/* body, button, input, select, textarea { font:12px/1.5tahoma, arial, \5b8b\4f53; } */
/* h1, h2, h3, h4, h5, h6{ font-size:100%; } */
address, cite, dfn, em, var { 
    font-style:normal;
}
code, kbd, pre, samp { 
    font-family:couriernew, courier, monospace;
}
small{ 
    font-size:12px; 
}
ul, ol { 
    list-style:none; 
}
a { 
    text-decoration:none; 
}
a:hover { 
    text-decoration: none; 
}
sup { 
    vertical-align:text-top; 
}
sub{ 
    vertical-align:text-bottom; 
}
legend { 
    color:#000; 
}
fieldset, img { 
    border:0; 
}
// button, input, select, textarea { font-size:100%; }
table { 
    border-collapse:collapse; 
    border-spacing:0; 
}
a, button { 
    cursor: pointer; 
}
html, body { 
    height: 100%; 
}
// 默认样式 end
body {
    padding-top: 45px;
}

#app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    height: 100%;
}

/* ------------ 公共样式 start ------------ */

// 清除浮动
.clear::after {
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    content: " ";
}

// 按钮样式
.btn {
    padding: 10px 20px; 
    border: 0; 
    border-radius: 5px; 
    color: #fff; 
    text-transform: uppercase;
    &:hover, &:focus, &:active {
        outline: none !important;
        color: #fff;
        box-shadow: none;
    }
}
.btn-default {
    background-color: $default-color;
    &:hover {
        opacity: 0.75;
    }
}

/* ------------ 公共样式 end ------------ */


// ------------ 设置markdown内容里的样式 start ------------
.markdowm-body {
    border: 1px solid #ccc;
    border-radius: 0.4em;
    height: 85%;
    padding: 1.2em;
    blockquote {
        padding: 0 1em;
        color: #6a737d;
        border-left: 0.25em solid #dfe2e5;
    }
    h1, h2 {
        padding-bottom: 0.3em;
        border-bottom: 1px solid #eaecef;
    }
}
// ------------ 设置markdown内容里的样式 end ------------
